<nav class="navbar">

<div class="logo">

<a href="/DreamStories/index.html"
class="logo-link">

<img
src="/DreamStories/assets/images/logo.png"
alt="RO - HIT STORIES Logo"
class="logo-img">

</a>

</div>

<ul
class="nav-links"
id="navLinks">

<li>
<a href="/DreamStories/index.html">
Home
</a>
</li>

<li>
<a href="/DreamStories/genres.html">
Stories
</a>
</li>

<li>
<a href="/DreamStories/genres.html">
Genres
</a>
</li>

<li>
<a href="/DreamStories/about.html">
About
</a>
</li>

<li>
<a href="/DreamStories/contact.html">
Contact
</a>
</li>

</ul>

<div
class="menu-btn"
id="menuBtn">

<i class="fa-solid fa-bars"></i>

</div>

</nav>